<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yuninet_app">

    <!-- Internet permission for Supabase & web auth -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:label="Yuninet App"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:theme="@style/LaunchTheme">

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:exported="true"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Intent filter for launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- Intent filter for Google Sign-In redirect -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:scheme="com.googleusercontent.apps.430590487732-68eq6kg3a2cqltu4ohioeslm0edakiid"
                    android:host="auth"/>
            </intent-filter>
        </activity>

        <!-- Required for Supabase Google Auth -->
        <meta-data android:name="flutterEmbedding" android:value="2" />
    </application>

</manifest>
